<ul class="nav me-auto nav-locale">
    <li class="nav-item"><a href="#" disabled class="nav-link"><i class='bx bx-world p-0'></i></a></li>
    <li class="nav-item nav-locale-item">
        <a rel="alternate" class="nav-link lnEl" id="kyLn" onclick="changeLanguage('ky')" reflang="ky" href="#">KYR</a>
    </li>
    <li class="nav-item nav-locale-item">
        <a rel="alternate" class="nav-link lnEl  nav-active " id="ruLn" onclick="changeLanguage('ru')" reflang="ru" href="#">RU</a>
    </li>
   @*  <li class="nav-item nav-locale-item">
        <a rel="alternate" class="nav-link lnEl" id="enLn" onclick="changeLanguage('en')" reflang="en" href="#">ENG</a>
    </li> *@
</ul>