<section class="footer m-0">
    <div class="container">
        <footer class="py-3">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h6 class="mb-3 footer-title hasTrans">Проекты</h6>
                    <ul class="list-unstyled footer-menu">
                        <li class="nav-item">
                            <a href="https://dpa.gov.kg/ru" class="nav-link ps-0 hasTrans">
                                Методика определения угроз
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h6 class="mb-3 footer-title hasTrans">Публикации</h6>
                    <ul class="list-unstyled footer-menu">
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg" class="nav-link ps-0 hasTrans">
                                Главная
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/page/individuals" class="nav-link ps-0 hasTrans">
                                Гражданам
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/page/entity" class="nav-link ps-0 hasTrans">
                                Организациям
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/npa" class="nav-link ps-0 hasTrans">
                                Нормативные правовые акты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h6 class="mb-3 footer-title hasTrans">Полезная информация</h6>
                    <ul class="list-unstyled footer-menu">
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/question" class="nav-link ps-0 hasTrans">
                                Часто задаваемые вопросы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/post" class="nav-link ps-0 hasTrans">
                                Новости
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://reestr.dpa.gov.kg/vacancy" class="nav-link ps-0 hasTrans">
                                Вакансии
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://dpa.gov.kg/npa/34" class="nav-link ps-0 hasTrans">
                                Политика конфиденциальности
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3 footer-brand">
                    <h6 class="mb-3 footer-title hasTrans">Контакты агентства</h6>

                    <ul class="list-unstyled footer-menu">
                        <li class="nav-item">
                            <a class="disabled nav-link ps-0 py-1"><strong class="hasTrans">Адрес:</strong> Кыргызская Республика, г. Бишкек, пр. Чуй, 265а, здание Национальной Академии наук, 2 этаж, западное крыло.</a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link ps-0 py-1"><strong class="hasTrans">Телефон:</strong> Общий отдел: +(996) 312 641 014, +(996) 990 950 850, По заполнению Реестра: +(996) 997 950 850, +(996) 709 950 750</a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link ps-0 py-1"><strong class="">E-mail:</strong> info@dpa.gov.kg</a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link ps-0 py-1"><strong class="hasTrans">Почтовый адрес:</strong> 720071</a>
                        </li>
                        <li class="nav-item">
                            <a class="disabled nav-link ps-0 py-1"><strong class="hasTrans">Телеграм бот:</strong> t.me/AgentstvoPDbot</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h6 class="mb-3 footer-title hasTrans">Официальные ресурсы</h6>
                    <ul class="list-unstyled footer-menu">
                        <li class="nav-item">
                            <a href="http://www.president.kg/kg" class="nav-link ps-0 hasTrans">
                                Президент Кыргызской Республики
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.gov.kg/ky" class="nav-link ps-0 hasTrans">
                                Кабинет Министров Кыргызской Республики
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://kenesh.kg/" class="nav-link ps-0 hasTrans">
                                Жогорку Кенеш Кыргызской Республики
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h6 class="mb-3 footer-title hasTrans">Мы в соцсетях:</h6>
                    <ul class="list-unstyled footer-menu">
                        <li>
                            <a href="https://www.facebook.com/dpa.gov.kg/" target="_blank"
                               class="nav-link ps-0 icon-fb"><i class='bx bxl-facebook-square'></i> Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dpa.gov.kg" target="_blank"
                               class="nav-link ps-0 icon-in"><i class='bx bxl-instagram'></i> Instagram</a>
                        </li>
                        <li>
                            <a href="https://t.me/dpagovkg" target="_blank"
                               class="nav-link ps-0 icon-tg"><i class='bx bxl-telegram'></i> Telegram</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-center py-2 mt-4 border-top">
                <div>БСС - @ViewData["Title"]</div>
            </div>

        </footer>
    </div>
</section>