@model IEnumerable<onlineChat2.Models.DB_Models.Themcategorye> 

@{
    Layout = "~/Views/Shared/_LayoutChat.cshtml";    
}


@if (ViewBag.status != "")
{
    <!-- Модальное окно -->
    <div id="myModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if (ViewBag.status == "success")
                    {
                        <h5 style="color:#6cd3d1" class="modal-title">@ViewBag.message</h5>
                    }
                    else
                    {
                        <h2 style="color:red" class="modal-title">ОШИБКА</h2>
                        <hr />
                        <h5 style="color:red" class="modal-title">@ViewBag.message</h5>
                    }
                    <span class="close modalClose" data-dismiss="modal" aria-label="Закрыть">&times;</span>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        // Показать модальное окно, если ViewBag.Status не равен null
        $("#myModal").show();

        // Закрыть модальное окно через 3 секунды (3000 миллисекунд)
        setTimeout(function () {
            $("#myModal").hide();
        }, 5000);

        // Закрыть модальное окно при клике на крестик
        $(".modalClose").click(function () {
            $("#myModal").hide();
        });

        // Закрыть модальное окно при клике на затемненный фон
        $(".modal").click(function (e) {
            if (e.target === this) {
                $("#myModal").hide();
            }
        });
    });
</script>

        <div class="container">
            <div class="page-box py-5">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="alert alert-custom mb-4" role="alert">
                            <h6>Внимание</h6>
                            <p>Поля отмеченные звездочкой (*) обязательны для заполнения</p>
                        </div>
                <form method="POST" action="~/Home/feedBack" accept-charset="UTF-8" enctype="multipart/form-data">
                            <input name="_token" type="hidden" value="S4IVaoUByKWwxe4BoMlasZNMozPVIT3BJI4zYVio">
                            <input type="hidden" value="ru" name="site_lang">
                            <input type="hidden" value="form" name="type">
                            <div class="form-group bordered">
                                <div class="mt-2 row align-items-center">
                                    <label class="col-sm-3 col-form-label">ФИО: <span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                <input required="" class="form-control " name="chat.UserNavigation.name" type="text">
                                    </div>
                                </div>
                             
                                <div class="mt-2 row align-items-center">
                                    <label class="col-sm-3 col-form-label">Номер телефона: <span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                <input required="" class="form-control " name="chat.UserNavigation.PhoneNumber" type="number">
                                    </div>
                                </div>
                                <div class="mt-2 row align-items-center">
                                    <label class="col-sm-3 col-form-label">Электронный адрес (e-mail): <span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                <input required="" class="form-control " name="chat.UserNavigation.Email" type="email">
                                    </div>
                                </div>

                                <div class="mt-2 row align-items-center">
                                    <label class="col-sm-3 col-form-label">Тематика: <span class="text-danger">*</span></label>
                                   
                                    
                                    <div class="col-sm-9">
                                        <select id="title" name="chat.Title" class="form-control ">
                                            @foreach (var i in Model)
                                            {
                                                <option value="@i.Category">@i.Category</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="mt-2 row">
                                    <label class="col-sm-3 col-form-label">Суть сообщения:<span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                <textarea required="" class="form-control editor-desc " name="chat.Question" cols="50" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="mt-4 row">
                                    <label class="col-sm-3 col-form-label">Прикрепить файл</label>
                                    <div class="col-sm-9">
                                        <input name="attachment" type="file">
                                    </div>
                                </div>
                                <div class="mt-2 row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked="" name="check" value="1" id="flexCheckIndeterminate">
                                            <label class="form-check-label" for="flexCheckIndeterminate">Я согласен на обработку персональных данных</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 row align-items-center">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-green mt-3">
                                            Отправить <i class="bx bx-mail-send"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   